<div>
  <section class="content">
    <div class="container-fluid" style="background-color: white;">
      <div class="row">
        <div>
          <section class="content">
            <form #frm="ngForm" (ngSubmit)="InsertAssetUsageTypeMaster()">
            <div class="container-fluid">
              
              <ion-item [class.has-error]="title.touched && title.invalid">
                <ion-label>Title</ion-label>
                <ion-input required type="text" name="Title" #title="ngModel" [(ngModel)]="Titlename"></ion-input>
              </ion-item>
              <ion-item>
                <ion-button color="primary" [disabled]="frm.invalid" type="submit">Insert Assets Usage</ion-button>
              </ion-item> 
            </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>